* {
  align-self: center;
}

.back {
  font-size: 200%;
  text-decoration: none;
  color: black;
}

.back::before {
  content: "⬅️";
}

#Name {
  align-self: center;
}

.infoContainer {
  display: flex;
  flex-flow: row wrap;
}

.info {
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: black;
  text-decoration: none;
  display: block;
}

.info:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  transition: all 0.3s ease;
  text-decoration: underline;
}